{% extends "utiliser/layout.html" %}

{% block content %}
<div id="deux_cols">
    <div id="col_droite">
        {% block colonnedroite %} {% endblock %}
    </div>

    <div id="col_gauche">
        {% block colonnegauche %} {% endblock %}
    </div>

    <div class="clear"></div>
</div>
{% endblock %}
