{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{% block title %}{% endblock %}</title>

  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="{{ MAINSITEURL }}/theme/images/favicon.ico"/>
  <link rel="stylesheet" href="{{ MAINSITEURL }}/theme/css/style.css" type="text/css"/>
  {% endblock head %}

  {% block javascript %}{% endblock %}
</head>

<body>
<div id="total">
  <div id="page">
    <div id="header">
      {% block header %}
      <div id="logo_holder">
          <h1><a href="{{ MAINSITEURL }}" id="logo">Pyromaths</a></h1>
      </div>

      <div class="topnav" id="nav_menu">
        <a href="javascript:void(0);" class="icon" onclick="myFunction();">
          <!--<i class="fa fa-bars"></i>-->
        </a>
        <ul>
          <li><a href="{{ MAINSITEURL }}" class="active">Accueil</a></li>
          <li><a href="https://enligne.pyromaths.org/">Utiliser en ligne</a></li>
	  <li><a href="{{ MAINSITEURL }}/version-{{ DOWNLOADURL }}.html">Télécharger</a></li>
          <li><a href="{{ MAINSITEURL }}/installer-pyromaths.html">Documentation</a></li>
          <li><a href="http://pyromaths.readthedocs.io">Développeurs</a></li>
          <li id="adroite"><a href="https://forum.pyromaths.org">Forum</a></li>
        </ul>
      </div>
      <script>
      function myFunction() {
        var x = document.getElementById("nav_menu");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
      {% endblock header %}
    </div>

    {% block content %}{% endblock %}

  </div><!--page-->
  <div id="footer">
    <div id="copyright">
      <p>&copy; 2018 Pyromaths<br/>
        Thème inspiré d'un travail de <a href="https://www.divio.ch/">Divio GmbH</a></p>
    </div>
  </div>
</div> <!--total-->
</body>
</html>
